### Import Libraries

In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import normalize
from scipy.cluster.hierarchy import linkage, dendrogram, fcluster

### Import Dstaset

### Hierarchical clustering of the grain data

# Calculate the linkage: mergings
mergings = linkage(sn, method = "complete")

# Plot the dendrogram, using varieties as labels
dendrogram(mergings,
           labels = variety,
           leaf_rotation = 90,
           leaf_font_size = 6)
plt.show()

In [37]:
dc = pd.read_csv("company.csv")
dc.head()

,Unnamed: 0,2010-01-04,2010-01-05,2010-01-06,2010-01-07,2010-01-08,2010-01-11,2010-01-12,2010-01-13,2010-01-14,...,2013-10-16,2013-10-17,2013-10-18,2013-10-21,2013-10-22,2013-10-23,2013-10-24,2013-10-25,2013-10-28,2013-10-29
0,Apple,0.580000,-0.220005,-3.409998,-1.170000,1.680011,-2.689994,-1.469994,2.779997,-0.680003,...,0.320008,4.519997,2.899987,9.590019,-6.540016,5.959976,6.910011,-5.359962,0.840019,-19.589981
1,AIG,-0.640002,-0.650000,-0.210001,-0.420000,0.710001,-0.200001,-1.130001,0.069999,-0.119999,...,0.919998,0.709999,0.119999,-0.480000,0.010002,-0.279998,-0.190003,-0.040001,-0.400002,0.660000
2,Amazon,-2.350006,1.260009,-2.350006,-2.009995,2.960006,-2.309997,-1.640007,1.209999,-1.790001,...,2.109985,3.699982,9.570008,-3.450013,4.820008,-4.079986,2.579986,4.790009,-1.760009,3.740021
3,American express,0.109997,0.000000,0.260002,0.720002,0.190003,-0.270001,0.750000,0.300004,0.639999,...,0.680001,2.290001,0.409996,-0.069999,0.100006,0.069999,0.130005,1.849999,0.040001,0.540001
4,Boeing,0.459999,1.770000,1.549999,2.690003,0.059997,-1.080002,0.360000,0.549999,0.530002,...,1.559997,2.480003,0.019997,-1.220001,0.480003,3.020004,-0.029999,1.940002,1.130005,0.309998

In [38]:
movements = dc[dc.columns.drop("Unnamed: 0")]
companies = dc["Unnamed: 0"]

In [39]:
normalized_movements = normalize(movements)

mergings = linkage(normalized_movements, method = "complete")

dendrogram(mergings,
           labels = companies,
           leaf_rotation = 90,
           leaf_font_size = 6)
plt.show()

### Cluster labels in hierarchical clustering

In [ ]:
labels = fcluster(mergings, 15, criterion = "distance")
pairs = pd.DataFrame({"labels": labels, "countries": country_names})

### Extracting the cluster labels

In [ ]:
# Perform the necessary imports
import pandas as pd
from scipy.cluster.hierarchy import fcluster

# Use fcluster to extract labels: labels
labels = fcluster(mergings, 6, criterion = "distance")

# Create a DataFrame with labels and varieties as columns: df
df = pd.DataFrame({'labels': labels, 'varieties': varieties})

# Create crosstab: ct
ct = pd.crosstab(df["labels"], df["varieties"])

# Display ct
print(ct)

### Iris

In [ ]:
iris = datasets.load_iris()
samples = iris.data
species = iris.target

model = TSNE(learning_rate = 100)

transformed = model.fit_transform(samples)

xs = transformed[:, 0]

ys = transformed[:, 1]

plt.scatter(xs, ys, c = species)

plt.show()

### Grain

In [ ]:
# Create a TSNE instance: model
model = TSNE(learning_rate = 200)

# Apply fit_transform to samples: tsne_features
tsne_features = model.fit_transform(grain)

# Select the 0th feature: xs
xs = tsne_features[:, 0]

# Select the 1st feature: ys
ys = tsne_features[:, 1]


categories = np.array([0, 1, 2])

colormap = np.array(['r', 'g', 'b'])
# Scatter plot, coloring by variety_numbers
plt.scatter(xs, ys)

plt.show()

In [ ]:
# Import TSNE
from sklearn.manifold import TSNE

# Create a TSNE instance: model
model = TSNE(learning_rate = 50)

# Apply fit_transform to normalized_movements: tsne_features
tsne_features = model.fit_transform(normalized_movements)

# Select the 0th feature: xs
xs = tsne_features[:, 0]

# Select the 1th feature: ys
ys = tsne_features[:,1]

# Scatter plot
plt.scatter(xs, ys, alpha = 0.5)

# Annotate the points
for x, y, company in zip(xs, ys, companies):
    plt.annotate(company, (x, y), fontsize=5, alpha=0.75)
plt.show()